@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './vars';

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: $grayBackground;
}

ul.nav {
	background-color: $green;
	overflow: hidden;
	list-style-type: none;
	margin: 0;
	padding: 0;

  	& li {
		float: left;
		color: #fff;

		&.right {
			float: right;
		}

		& span {
			display: block;
			text-align: center;
			color: #fff;
			padding: 1.2rem 1.5rem;
		}

		& a {
			display: block;
			text-align: center;
			text-decoration: none;
			color: #fff;
			padding: 1.2rem 1.5rem;

			&:hover {
				background-color: darken($green, 10);
			}
		}
	}
}

@media screen and (max-width: 600px) {
  	ul.nav li.right,
  	ul.nav li {float: none;}
}

header.jumbo {
	width: 100%;
	margin: 0 0 1rem 0;
	padding: 1.5rem;
	background-color: lighten($grayBackground, 5);

	& h1 {
		font-weight: 300;
		font-size: 3rem;
	}

	& hr {
		border-top: 1px solid $muted;
		margin-top: 1.2rem;
		margin-bottom: 1.5rem;
	}

	& p {
		font-size: 1.2rem;
		margin-bottom: 1.5rem;
	}
}

.text-muted {
	color: $muted;
}

.container {
	max-width: 86%;
	min-width: 53%;
	margin: auto;
}

.button {
	$defaultButtonColor: lighten($gray, 60);
	text-decoration: none;
	background-color: $defaultButtonColor;
	padding: 0.6rem 0.75rem;
	border: none;
	display: inline-block;
	transition: 0.3s;

	&.primary {
		background-color: $green;
		&:hover {
			background-color: darken($green, 10);
		}
	}

	&:focus {
		outline: none;
	}

	&:hover {
		background-color: darken($defaultButtonColor, 10);
	}
}

.grid {
	display: grid;
	grid-gap: 0.7rem;
	grid-template-columns: auto auto auto;

	& > * {
		height: 100%;
	}
}

.card {
	$cardBackground: lighten($grayBackground, 5);
	background-color: $cardBackground;
	padding: 1rem;
	border: 1px solid darken($cardBackground, 5);

	& .card-title {
		display: block;
		text-align: center;
		font-size: 2rem;

		& .icon {
			font-size: 3rem;
			display: block;
		}
	}

	& .card-text {
		font-size: 1.12rem;
	}
}

.text-center {
	text-align: center;
}
